---
import Wrapper from '../../layout/wrapper.astro';
import { publicApi } from '../../api'
import AnotherObjectsSlider from '../../components/pages/object/AnotherObjectsSlider'
import { ROUTES } from '../../utils/const'
import Breadcrumbs from '../../components/common/Breadcrumbs.astro';
import SceneFootage from '../../components/pages/object/ScenesTiles';
import { ConstructionType } from '../../types/dataTypes';

interface Item { 
  construction: ConstructionType; 
  similarOnes: ConstructionType[] 
}

export async function getStaticPaths() {
  const arr: Item[] = []

  async function func () {
    const data = await publicApi.getConstructions()
    for (const c in data.constructions) {
      const dto = await publicApi.getSingleConstruction("" + data.constructions[c].id)
      arr.push(dto)
    }
  }  

  await func()

  return arr.map(item => ({ 
    params: { id: item.construction.id },
    props: { construction: item.construction, similarOnes: item.similarOnes }
  }))
}

const { construction, similarOnes } = Astro.props

const { title, text, images } = construction

const breadCrumbs = [
  { id: 1, link: ROUTES.HOME, text: 'Главная' },
  { id: 2, link: ROUTES.OBJECTS, text: 'Объекты' },
  { id: 3, link: '', text: construction.title },
]
---

<Wrapper 
  title="Liebherr" 
  description="Аренда строительной техники"
>
  <Breadcrumbs items={breadCrumbs} />

  <SceneFootage 
    client:load
    title={title} 
    text={text} 
    images={images} 
  />

  <section class="block-text">
    <div class="container">
      <h2 class="block-text__title">Аренда автокранов LIEBHERR в Москве</h2>
      <p class="block-text__text">
        Аренда автокранов решает разные задачи. Благодаря большой грузоподъемности техника используется при установке и разборке башенных кранов, строительстве мостовых пролетов, монтаже дымовых труб самонесущей конструкции, выполнении
        аварийно-восстановительных работ в Москве.{' '}
      </p>
      <h2 class="block-text__title">Аренда спецтехники Liebherr </h2>
      <p class="block-text__text">
        Liebherr («Либхерр») — известная немецкая машиностроительная компания. Ее автокраны востребованы во всем мире благодаря своим уникальным возможностям. Основополагающие критерии их выбора — скорость и качество работы. Крупные строительные
        компании и частные лица предпочитают арендовать строительные краны «Либхерр». Их выбор обусловлен надежностью, высокой производительностью установок. Срок службы агрегатов исчисляется десятилетиями, на протяжении которых они сохраняют
        свои характеристики и не теряют качества.
      </p>
      <p class="block-text__text">На сегодняшний день мы реализовали сотни успешных проектов. Среди них:</p>
      <ul class="block-text__list">
        <li class="block-text__list-item rel after">Предоставление автокрана Liebherr LR 1750 и автотрейлеров из собственного парка компании «Казметрострой». Техника использовалась для демонтажа и перевозки проходческих щитов.</li>
        <li class="block-text__list-item rel after">Участие автокрана Liebherr LR 1750 и автотрейлеров в демонтаже проходческого щита на участке метрополитена от станции «Выхино» до «Косино-Ухтомской».</li>
        <li class="block-text__list-item rel after">
          Использование Liebherr LTM 1500 в качестве основной мощности для производства работ при возведении Лукомльской ГРЭС. В качестве арендатора выступала китайская машиностроительная инжиниринговая компания.
        </li>
        <li class="block-text__list-item rel after">Аренда низкорамных тралов для транспортировки спецтехники официального дилера ТМ в России, компании ООО «Либхерр-Русланд».</li>
        <li class="block-text__list-item rel after">Установка нового реактора гидрокрекинга на территории завода ОАО «Уфанефтехим».</li>
        <li class="block-text__list-item rel after">Демонтаж старых и монтаж новых чиллеров на крыше здания Mail.ru. Арендатор — строительный холдинг КМТ.</li>
        <li class="block-text__list-item rel after">Монтаж мостовых балок на головном участке автомобильной скоростной дороги Москва-Санкт-Петербург, произведенный с использованием кранов Liebherr.</li>
        <li class="block-text__list-item rel after">Транспортировка и установка проходческого щита из Протвино в Москву для возведения Бутовской линии метрополитена. Заказ выполнен компанией «Транстоннельстрой».</li>
      </ul>
      <p class="block-text__text">
        Условия аренды оговариваются индивидуально. География предоставления услуги — Москва, Санкт-Петербург, Екатеринбург, Нижний Новгород, Пермь, Воронеж, Челябинск, Краснодар, Ярославль, Самара, Уфа и другие города РФ.
      </p>
    </div>
  </section>

  <AnotherObjectsSlider client:visible items={similarOnes} />
</Wrapper>
